﻿.cookeEnabler {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #333;
    z-index: 9999;
    padding: 18px;
    color: white;
    font-size: 1em;
    border-top: 1px white solid;
    border-left: 1px white solid;
}

#cookieEnablerButton {
    background: 0;
    border: none;
    background-image: url('cookieEnable.png');
    width: 48px;
    height: 48px;
    cursor: pointer;
    opacity: 0.7;
    float: right;
    margin-top: -35px;
}

    #cookieEnablerButton:hover, #cookieDisablerButton:hover {
        opacity: 1;
    }

#cookieDisablerButton {
    background: 0;
    border: none;
    background-image: url('/css/layout/cookieDisable.png');
    width: 48px;
    height: 48px;
    cursor: pointer;
    opacity: 0.7;
    margin: 5px;
    margin-top: 20px;
}

.cookieChoser {
    margin-top: 10px;
}
